.home {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 100%;
  gap: rem(40);
  min-height: calc(100vh - var(--app-shell-header-height));
}
.block {
  flex: 1;
}
.logo-wrapper {
  display: flex;
  gap: rem(12);
  align-items: center;
}
.logo {
  width: rem(64);
}
.bg-image {
  width: 100%;
}
