.canvas {
  padding: rem(20px);
  position: relative;
}
.component-wrapper {
  padding: rem(12px);
  border-radius: var(--mantine-radius-sm);
  cursor: pointer;
  user-select: none;
  @mixin hover {
    outline: 1px solid var(--mantine-color-gray-4);
  }
}
.component-wrapper:not(:first-child) {
  margin-top: rem(12px);
}
.component-wrapper--active {
  outline: 1px solid var(--mantine-color-blue-4) !important;
}

.component-wrapper--locked {
  opacity: 0.5;
  cursor: not-allowed;
}
.component-wrapper--locked.component-wrapper--active {
  outline: 1px solid var(--mantine-color-gray-6) !important;
}
.component {
  user-select: none;
  pointer-events: none;
}
